body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #acb3e1;
    font-family: 'Courier New', Courier, monospace;
 
}



.container {
    text-align: center;
    
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #5a659e;
    color: white;
}

.h1{
    margin-top: -4px;
    font-weight: 500;
}

.h2{
    text-align: left;
    font-weight: 200;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    color: black;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}


/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    .container {
        margin: 10px;
        padding: 27px;
    }

    button {
        font-size: 14px;
    }

    /* Hide specific columns on smaller screens */
    table td:nth-child(n+3),
    table th:nth-child(n+3) {
        display: none;
    }
}
